body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
#headphone{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#headphone3{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}